doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  base(href="/")
  title Document
  link(rel='stylesheet' href='./css/style.css')
  link(rel='stylesheet' href='./css/mobile.css') 
  link(rel='stylesheet' href='./css/utils.css') 
  link(rel='stylesheet' href='https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.2/css/all.css')
script(src='https://unpkg.com/axios/dist/axios.min.js')  
script(src='./js/search.js')  
body 
    include _header


    block content 


    
    //- Java script 
    //- script( src='./js/app.js' type="module")
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.1/axios.min.js')
    //- script(src='./js/identification.js')
    //- script(src='./js/login.js')
    script(src='./js/bundle.js')
     
    
    